.catalog-additional {
  width: 280px;
  min-height: 925px;

  padding: 0 20px;
  outline: 2px solid midnightblue;
}

.catalog-additional__main-title {
  font-size: 24px;
  line-height: 24px;
  color: #111111;
  font-weight: 400;
}

.catalog-additional__title {
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  font-weight: 400;
  text-transform: uppercase;
}

.catalog-additional__col-name {
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  font-weight: 400;
}

.catalog-additional__col-value {
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  text-transform: uppercase;
  font-weight: 400;
}

.catalog-additional__bonus {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 400;
}
