.contact {
  width: 280px;
  min-height: 430px;

  padding: 0 20px;
  padding-top: 28px;
  padding-bottom: 24px;
  outline: 2px solid crimson;
}

.contact__title {
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
}

.contact__address {
  color: #444444;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}
