.advantage__title {
  color: #111111;
  font-size: 36px;
  line-height: 60px;
}

.advantage__description {
  color: #444444;
  font-size: 14px;
  line-height: 18px;
}

.advantage {
  width: 280px;
  padding: 0 20px;
  outline: 2px solid fuchsia;
}
