.contact__title {
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contact__address {
  color: #444444;
  font-size: 14px;
  line-height: 20px;
}

.contact {
  width: 280px;
  padding: 0 20px;
  outline: 2px solid crimson;
}
