.social__item {
  position: relative;
}

.social__link--fb {
  content: "";

  position: absolute;

  top: 0;
  left: 0;

  width: 10px;
  height: 19px;

  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social__link--vk {
  content: "";

  position: absolute;

  top: 0;
  left: 0;

  width: 22px;
  height: 12px;

  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social__link--insta {
  content: "";

  position: absolute;

  top: 0;
  left: 0;

  width: 16px;
  height: 16px;

  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
