.advantage {
  min-height: 390px;
  margin-bottom: 40px;
}

.advantage__item {
  position: relative;

  min-height: 60px;
  margin-bottom: 20px;

  &--healthy::before {
    content: "";

    position: absolute;
    z-index: 1;

    top: 3px;
    left: 24px;

    width: 50px;
    height: 50px;

    background-image: url("../img/advantage-leaf@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: cover;
    }
  }

  &--healthy::after {
    content: "";

    position: absolute;
    z-index: 0;

    top: -3px;
    left: 20px;

    width: 60px;
    height: 60px;

    background-color: #68b738;
  }

  &--powder::before {
    content: "";

    position: absolute;
    z-index: 1;

    top: 1px;
    left: 24px;

    width: 50px;
    height: 50px;

    background-image: url("../img/advantage-powder@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/advantage-powder@2x.png");
      background-size: cover;
    }
  }

  &--powder::after {
    content: "";

    position: absolute;
    z-index: 0;

    top: -3px;
    left: 20px;

    width: 60px;
    height: 60px;

    background-color: #68b738;
  }

  &--dining::before {
    content: "";

    position: absolute;
    z-index: 1;

    top: 3px;
    left: 24px;

    width: 50px;
    height: 50px;

    background-image: url("../img/advantage-dining@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/advantage-dining@2x.png");
      background-size: cover;
    }
  }

  &--dining::after {
    content: "";

    position: absolute;
    z-index: 0;

    top: -3px;
    left: 20px;

    width: 60px;
    height: 60px;

    background-color: #68b738;
  }

  &--time::before {
    content: "";

    position: absolute;
    z-index: 1;

    top: 3px;
    left: 24px;

    width: 50px;
    height: 50px;

    background-image: url("../img/advantage-clock@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/advantage-clock@2x.png");
      background-size: cover;
    }
  }

  &--time::after {
    content: "";

    position: absolute;
    z-index: 0;

    top: -3px;
    left: 20px;

    width: 60px;
    height: 60px;

    background-color: #68b738;
  }
}

.advantage__title {
  margin-bottom: 31px;
  margin-left: 20px;

  color: #111111;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.advantage__description {
  margin-left: 100px;
  margin-right: 20px;
  margin-bottom: 26px;

  color: #444444;
  font-family: "Arial", "Roboto", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .advantage {
    min-height: 0;
  }

  .advantage__list {
    display: flex;
    flex-wrap: wrap;

    border-bottom: 1px solid #d9d9d9;
  }

  .advantage__item {
    width: 210px;
    min-height: 0;

    margin-right: 172px;
    margin-bottom: 105px;
    margin-top: 30px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &--healthy::before {
      top: 15px;
      left: 45px;
    }

    &--healthy::after {
      top: 0;
      left: 30px;

      width: 80px;
      height: 80px;
    }

    &--powder::before {
      top: 16px;
      left: 46px;
    }

    &--powder::after {
      top: 0;
      left: 32px;

      width: 80px;
      height: 80px;
    }

    &--dining::before {
      top: 15px;
      left: 45px;
    }

    &--dining::after {
      top: 0;
      left: 30px;

      width: 80px;
      height: 80px;
    }

    &--time::before {
      top: 15px;
      left: 46px;
    }

    &--time::after {
      top: 0;
      left: 32px;

      width: 80px;
      height: 80px;
    }
  }

  .advantage__title {
    margin-bottom: 41px;
    margin-left: 30px;
    margin-top: 48px;

    font-size: 60px;
  }

  .advantage__description {
    margin: 0;
    margin-top: 112px;
    margin-left: 30px;

    width: 250px;

    font-size: 16px;
    line-height: 24px;

    &--one::before {
      content: "1";

      position: absolute;

      z-index: -1;

      top: 90px;
      right: -50px;

      font-size: 281px;
      font-family: "Oswald", "Arial", sans-serif;
      color: #f2f2f2;
    }

    &--two::before {
      content: "2";

      position: absolute;

      z-index: -1;

      top: 90px;
      right: -68px;

      font-size: 281px;
      font-family: "Oswald", "Arial", sans-serif;
      color: #f2f2f2;
    }

    &--three::before {
      content: "3";

      position: absolute;

      z-index: -1;

      top: 90px;
      right: -68px;

      font-size: 281px;
      font-family: "Oswald", "Arial", sans-serif;
      color: #f2f2f2;
    }

    &--four::before {
      content: "4";

      position: absolute;

      z-index: -1;

      top: 90px;
      right: -70px;

      font-size: 281px;
      font-family: "Oswald", "Arial", sans-serif;
      color: #f2f2f2;
    }
  }
}

@media (min-width: 1300px) {
  .advantage {
    min-height: 200px;
    margin-bottom: 40px;

    padding: 0;
  }

  .advantage__title {
    margin-left: 40px;
    margin-top: 44px;
  }

  .advantage__description {
    &--one::before {
      right: -20px;
    }

    &--two::before {
      right: -38px;
    }

    &--three::before {
      right: -38px;
    }

    &--four::before {
      right: -40px;
    }
  }

  .advantage__list {
    padding: 0 10px;

    border: none;
  }

  .advantage__item {
    width: 240px;
    min-height: 200px;

    margin-left: 0;
    margin-right: 84px;
    margin-bottom: 0;

    &:nth-child(2n) {
      margin-right: 84px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
