.advantage {
  min-height: 390px;

  padding: 0;
  outline: 2px solid fuchsia;
}

.advantage__title {
  color: #111111;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.advantage__description {
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
