.catalog-additional {
  margin-bottom: 40px;

  padding: 0;
}

.catalog-additional__main-title {
  padding: 28px 0;

  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;

  font-size: 24px;
  line-height: 24px;
  color: #111111;
  font-weight: 400;
}

.catalog-additional__item {
  padding-bottom: 20px;

  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;

  border-bottom: 1px solid #d9d9d9;

  &:last-child {
    margin-bottom: 300px;
  }
}

.catalog-additional__title {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 16px;
  line-height: 16px;
  color: #222222;
  font-weight: 400;
  text-transform: uppercase;
}

.catalog-additional__info {
  display: block;
}

.catalog-additional__info tbody {
  display: block;
}

.catalog-additional__link {
}

.catalog-additional__row {
  display: flex;

  width: 280px;

  margin-bottom: 12px;

  font-family: "Arial", sans-serif;
}

.catalog-additional__col-name {

  font-size: 14px;
  line-height: 14px;
  color: #444444;
  font-weight: 400;
}

.catalog-additional__col-value {
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  text-transform: uppercase;
  font-weight: 400;
}

.catalog-additional__bonus {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 400;
}

@media (min-width: 768px) {
  .catalog-additional {
  }

  .catalog-additional__main-title {
    margin-left: 68px;
    margin-bottom: 48px;

    padding-top: 0;

    font-size: 36px;
    line-height: 36px;
  }

  .catalog-additional__list {
    display: flex;
    flex-direction: column;
  }

  .catalog-additional__item {
    display: flex;
    flex-wrap: wrap;

    padding: 28px 36px;

    margin-top: -1px;
    margin-bottom: 0;

    border: 1px solid #d2d2d2;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .catalog-additional__title {
    width: 200px;

    margin: 0;
    margin-left: 11px;

    font-size: 20px;
    line-height: 20px;
  }

  .catalog-additional__info {
    width: 240px;
  }

  .catalog-additional__link {
    width: 100%;

    margin-top: 21px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .catalog-additional__row {
    width: 230px;

    margin-bottom: 0;
  }

  .catalog-additional__col-name {
    font-size: 16px;
    line-height: 20px;
  }

  .catalog-additional__col-value {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: 1440px) {
  .catalog-additional__item {
  }

  .catalog-additional__link {
    width: 245px;
    padding: 0;
  }
}
