.catalog-main {
  padding: 0;
}

.catalog-main__item {
  padding-bottom: 25px;
  padding-top: 2px;

  border-bottom: 1px solid #d9d9d9;
}

.catalog-main__block {
  display: flex;
}

.catalog-main__text-block {
  width: 140px;

  display: flex;
  flex-direction: column;
}

.catalog-main__image {
  margin-left: 20px;
}

.catalog-main__link {
  position: relative;

  margin-top: -5px;
  margin-left: 20px;
  margin-right: 20px;
}

.catalog-main__title {
  width: 80px;

  margin-top: 20px;
  margin-bottom: 10px;

  text-transform: uppercase;
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.catalog-main__row {
  display: flex;

  color: #444444;
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", "Roboto", sans-serif;
  font-weight: 400;
}

.catalog-main__col-name {
  flex-grow: 1;

  margin: 0;
  margin-right: 50px;

  padding: 0;
}

.catalog-main__col-value {
  margin: 0;
  padding: 0;
}

.catalog-main__info {
  width: 140px;
  margin-bottom: 15px;
}

.catalog-main__info tbody {
  display: block;
}

.catalog-main__watch-more {
  position: relative;

  margin-top: 76px;
  margin-left: 60px;
  margin-bottom: 8px;

  text-transform: uppercase;
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  &::before {
    content: "";

    position: absolute;

    width: 30px;
    height: 30px;

    top: -52px;
    left: 85px;

    background-image: url("../img/icon-plus-mobile.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.catalog-main__more-description {
  margin-left: 50px;
  margin-bottom: 21px;

  font-size: 12px;
  line-height: 16px;
  color: #444444;
  font-weight: 400;
  font-family: "Arial", "Roboto", sans-serif;
}

.catalog-main__more-link {
  display: block;

  margin: 0 20px;

  padding: 10px 0;
  padding-left: 96px;

  font-size: 16px;
  line-height: 20px;
  color: #444444;
  background-color: #f2f2f2;
  text-transform: uppercase;
  font-weight: 400;
}

@media (min-width: 768px) {
  .catalog-main__list {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog-main__item {
    width: 324px;

    padding-bottom: 37px;

    margin-bottom: 56px;
    margin-right: 60px;
    margin-left: 30px;

    background: linear-gradient(to bottom, #ffffff 87px, #f2f2f2 87px);

    &:nth-child(2n) {
      margin-right: 0;
      margin-left: 0;
    }

    &--watch-more {
      margin-top: 87px;

      padding-bottom: 39px;

      box-sizing: border-box;

      background: #ffffff;
      border: 1px solid #e6e6e6;
    }
  }

  .catalog-main__image {
    margin-left: 0;

    &--small {
      margin-top: 37px;

      width: 324px;
      height: 174px;
    }

    &--big {
      margin-top: 3px;

      width: 324px;
      height: 208px;
    }
  }

  .catalog-main__block {
    flex-direction: column;
    align-items: center;
  }

  /*
  .catalog-main__image {
    position: relative;

    top: -3px;
  }
  */

  .catalog-main__text-block {
    width: 250px;

    margin-top: 34px;
  }

  .catalog-main__link {
    position: relative;

    margin-top: -5px;
    margin-left: 37px;
    margin-right: 36px;
  }

  .catalog-main__title {
    width: 130px;

    margin: auto;
    margin-bottom: 26px;

    text-transform: uppercase;
    text-align: center;
    color: #111111;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
  }

  .catalog-main__info {
    width: 250px;

    margin-bottom: 27px;
  }

  .catalog-main__row {
    display: flex;

    margin-bottom: 10px;

    border-bottom: 1px solid #d2d2d2;

    color: #444444;
    font-size: 16px;
    line-height: 16px;
    font-family: "Arial", "Roboto", sans-serif;
    font-weight: 400;
  }

  .catalog-main__col-name,
  .catalog-main__col-value {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
  }

  .catalog-main__watch-more {
    position: relative;

    width: 170px;

    margin-left: 76px;
    margin-top: 160px;
    margin-bottom: 28px;

    font-size: 20px;
    text-align: center;

    &::before {
      content: "";

      position: absolute;

      width: 60px;
      height: 60px;

      top: -109px;
      left: 56px;

      background-image: url("../img/icon-plus.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  .catalog-main__more-description {
    width: 170px;

    margin-left: 75px;
    margin-bottom: 84px;

    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }

  .catalog-main__more-link {
    margin: 0 38px;
    padding-left: 78px;
  }
}

@media (min-width: 1300px) {
  .catalog-main {
    padding: 0;
  }

  .catalog-main__list {
    display: flex;
    flex-wrap: wrap;

    padding: 0 40px;

    margin-bottom: 14px;
  }

  .catalog-main__image {
    &--small {
      width: 245px;
      height: 174px;
    }

    &--big {
      width: 245px;
      height: 208px;
    }
  }

  .catalog-main__item {
    width: 245px;

    box-sizing: border-box;

    margin-bottom: 59px;
    margin-right: 80px;
    margin-left: 0;

    background-color: #f2f2f2;

    &--watch-more {
      background-color: #ffffff;
    }

    &:nth-child(2n) {
      margin-right: 80px;
      margin-left: 0;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  .catalog-main__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /*
  .catalog-main__image {
    position: relative;

    top: -3px;
  }
  */

  .catalog-main__text-block {
    width: 170px;

    margin-top: 34px;

    display: flex;
    flex-direction: column;
  }

  .catalog-main__link {
    position: relative;

    margin-top: -5px;
  }

  .catalog-main__title {
    width: 130px;

    margin: auto;
    margin-bottom: 26px;

    text-transform: uppercase;
    text-align: center;
    color: #111111;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
  }

  .catalog-main__row {
    display: flex;

    margin-bottom: 10px;

    border-bottom: 1px solid #d2d2d2;

    color: #444444;
    font-size: 16px;
    line-height: 16px;
    font-family: "Arial", "Roboto", sans-serif;
    font-weight: 400;
  }

  .catalog-main__col-name,
  .catalog-main__col-value {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
  }

  .catalog-main__info {
    width: 170px;

    margin-bottom: 26px;
  }

  .catalog-main__watch-more {
    margin-top: 160px;
    margin-left: 36px;

    font-size: 20px;
  }

  .catalog-main__more-description {
    margin-left: 36px;
    margin-bottom: 84px;
  }

  .catalog-main__more-link {
    padding: 10px 0;

    text-align: center;
  }
}
