.catalog-main {
  min-height: 1400px;

  padding: 0;
  outline: 2px solid gold;
}

.catalog-main__item {
  min-height: 209px;
}

.catalog-main__block {
  display: flex;
}

/*
.catalog-main__image {
  position: relative;

  top: -3px;
}
*/

.catalog-main__text-block {
  width: 140px;

  display: flex;
  flex-direction: column;
}

.catalog-main__link {
  position: relative;

  margin-top: -5px;
}

.catalog-main__title {
  width: 80px;

  margin-top: 18px;
  margin-bottom: 10px;

  text-transform: uppercase;
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.catalog-main__row {
  display: flex;
  justify-content: space-between;

  color: #444444;
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
}

.catalog-main__col-name {
  margin: 0;
  padding: 0;
}

.catalog-main__col-value {
  margin: 0;
  padding: 0;
}

.catalog-main__info {
  margin-bottom: 15px;
}

.catalog-main__watch-more {
  text-transform: uppercase;
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.catalog-main__more-description {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  font-weight: 400;
}

.catalog-main__more-link {
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  background-color: #f2f2f2;
  text-transform: uppercase;
  font-weight: 400;
}

@media (min-width: 768px) {
  .catalog-main__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog-main__item {
    width: 248px;
    min-height: 530px;

    padding: 0 38px;

    margin-bottom: 60px;

    background-color: #f2f2f2;
  }

  .catalog-main__block {
    flex-direction: column;
    align-items: center;
  }

  /*
  .catalog-main__image {
    position: relative;

    top: -3px;
  }
  */

  .catalog-main__text-block {
    width: 250px;

    margin-top: 150px;
  }

  .catalog-main__link {
    position: relative;

    margin-top: -5px;
  }

  .catalog-main__title {
    width: 130px;

    margin: auto;
    margin-bottom: 30px;

    text-transform: uppercase;
    text-align: center;
    color: #111111;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
  }

  .catalog-main__row {
    display: flex;
    justify-content: space-between;

    margin-bottom: 10px;

    border-bottom: 1px solid #d2d2d2;

    color: #444444;
    font-size: 16px;
    line-height: 16px;
    font-family: "Arial", sans-serif;
    font-weight: 400;
  }

  .catalog-main__col-name,
  .catalog-main__col-value {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
  }

  .catalog-main__info {
    margin-bottom: 15px;
  }

  .catalog-main__watch-more {
    text-transform: uppercase;
    color: #111111;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
  }

  .catalog-main__more-description {
    font-size: 16px;
    line-height: 16px;
    color: #444444;
    font-weight: 400;
  }

  .catalog-main__more-link {
    font-size: 16px;
    line-height: 20px;
    color: #444444;
    background-color: #f2f2f2;
    text-transform: uppercase;
    font-weight: 400;
  }
}

@media (min-width: 1440px) {
  .catalog-main {
    min-height: 1400px;

    padding: 0;
    outline: 2px solid gold;
  }

  .catalog-main__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog-main__item {
    width: 175px;
    min-height: 530px;

    padding: 0 35px;

    margin-bottom: 60px;

    background-color: #f2f2f2;
  }

  .catalog-main__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /*
  .catalog-main__image {
    position: relative;

    top: -3px;
  }
  */

  .catalog-main__text-block {
    width: 170px;

    margin-top: 150px;

    display: flex;
    flex-direction: column;
  }

  .catalog-main__link {
    position: relative;

    margin-top: -5px;
  }

  .catalog-main__title {
    width: 130px;

    margin: auto;
    margin-bottom: 30px;

    text-transform: uppercase;
    text-align: center;
    color: #111111;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
  }

  .catalog-main__row {
    display: flex;
    justify-content: space-between;

    margin-bottom: 10px;

    border-bottom: 1px solid #d2d2d2;

    color: #444444;
    font-size: 16px;
    line-height: 16px;
    font-family: "Arial", sans-serif;
    font-weight: 400;
  }

  .catalog-main__col-name,
  .catalog-main__col-value {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
  }

  .catalog-main__info {
    margin-bottom: 15px;
  }

  .catalog-main__watch-more {
    text-transform: uppercase;
    color: #111111;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
  }

  .catalog-main__more-description {
    font-size: 16px;
    line-height: 16px;
    color: #444444;
    font-weight: 400;
  }

  .catalog-main__more-link {
    font-size: 16px;
    line-height: 20px;
    color: #444444;
    background-color: #f2f2f2;
    text-transform: uppercase;
    font-weight: 400;
  }
}
