.category__item {
  position: relative;

  background-color: #f2f2f2;
  padding-top: 30px;

  margin-bottom: 20px;

  &--loss {
    &::before {
      content: "";

      position: absolute;
      z-index: 1;

      top: 22px;
      left: 30px;

      width: 35px;
      height: 49px;

      background-image: url("../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    &::after {
      content: "";

      position: absolute;

      top: 23px;
      left: 22px;

      width: 50px;
      height: 50px;

      background-color: #68b738;
      border-radius: 50%;
    }
  }

  &--gain {
    &::before {
      content: "";

      position: absolute;
      z-index: 1;

      top: 35px;
      left: 13px;

      width: 67px;
      height: 28px;

      background-image: url("../img/icon-cat-pro.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    &::after {
      content: "";

      position: absolute;

      top: 24px;
      left: 22px;

      width: 50px;
      height: 50px;

      background-color: #68b738;
      border-radius: 50%;
    }
  }
}

.category__list {
  padding: 0 20px;
}

.category__title {
  margin: 0;
  margin-bottom: 28px;
  margin-left: 91px;

  color: #111111;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;
}

.category__description {
  display: block;

  padding-bottom: 22px;
  margin-left: 20px;
  margin-right: 20px;

  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  border-bottom: 1px solid #d9d9d9;
}

.category__link {
  position: relative;

  display: block;

  padding: 18px 0;
  padding-bottom: 20px;

  margin-bottom: 20px;
  margin-left: 20px;

  text-decoration: none;
  color: #000000;
  text-transform: uppercase;

  &::after {
    content: "";

    position: absolute;

    top: 23px;
    left: 96px;

    width: 25px;
    height: 11px;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (min-width: 768px) {
  .category__item {
    margin-bottom: 30px;

    padding-top: 50px;
    padding-left: 53px;
    padding-right: 60px;
    padding-bottom: 20px;

    &--loss {
      &::before {
        top: 80px;
        left: 475px;

        width: 140px;
        height: 194px;
      }

      &::after {
        top: 95px;
        left: 445px;

        width: 200px;
        height: 200px;
      }
    }

    &--gain {
      &::before {
        top: 136px;
        left: 412px;

        width: 268px;
        height: 112px;
      }

      &::after {
        top: 92px;
        left: 448px;

        width: 200px;
        height: 200px;
      }
    }
  }

  .category__list {
    padding: 0 30px;
  }

  .category__title {
    margin: 0;
    margin-bottom: 25px;
    margin-top: 27px;

    font-size: 36px;
  }

  .category__description {
    width: 380px;

    margin: 0;

    font-size: 16px;
    line-height: 24px;

    border: none;

    &--gain {
      width: 340px;
    }
  }

  .category__link {
    margin: 0;
    margin-top: 16px;

    padding-bottom: 40px;

    font-size: 20px;
    line-height: 20px;

    &::after {
      left: 130px;
    }
  }
}

@media (min-width: 1440px) {
  .category__item {
    width: 455px;

    margin-left: 0;
    margin-top: 75px;
    margin-right: 80px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &--loss {
      &::before {
        top: 41px;
        left: 66px;

        width: 70px;
        height: 97px;
      }

      &::after {
        top: 48px;
        left: 52px;

        width: 100px;
        height: 100px;
      }
    }

    &--gain {
      &::before {
        top: 70px;
        left: 35px;

        width: 134px;
        height: 56px;
      }

      &::after {
        top: 48px;
        left: 53px;

        width: 100px;
        height: 100px;
      }
    }
  }

  .category__title {
    margin-bottom: 75px;
    margin-left: 162px;
  }

  .category__list {
    display: flex;
    flex-wrap: wrap;

    padding: 0 110px;
  }

  .category__link {
    margin-top: 0;

    padding-top: 10px;

    &::after {
      top: 12px;
    }
  }

  .category__description {
    width: 465px;

    padding-bottom: 21px;
  }
}
