.contact {
  display: flex;
  flex-direction: column;

  position: relative;

  min-height: 200px;
}

.contact__top-block {
  position: absolute;

  display: flex;

  z-index: 1;

  width: 320px;

  padding-top: 27px;
  padding-bottom: 27px;

  background-color: white;

  &--grey {
    background-color: #f2f2f2;
  }
}

.contact--catalog-form {
  background-color: #f2f2f2;
}

.contact__title {
  margin-left: 20px;

  color: #111111;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
}

.contact__address {
  margin-left: 14px;

  color: #444444;
  font-family: "Arial", "Roboto", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}

.contact__image {
  margin-top: 74px;
}

.contact__iframe {
  position: absolute;

  top: 74px;
  left: 0;
}

@media (min-width: 768px) {
  .contact {
    min-height: 600px;
  }

  .contact__top-block {
    position: relative;

    width: auto;

    padding: 65px 70px;
    padding-bottom: 60px;
  }

  .contact__title {
    width: 160px;

    margin-left: 0;

    font-size: 20px;
    line-height: 25px;
  }

  .contact__image {
    margin: 0;
    margin-top: -5px;

    width: 100%;
    height: 400px;
  }

  .contact__iframe {
    top: -4px;

    width: 100%;
    height: 400px;
  }

  .contact__address {
    width: 160px;

    margin-left: 306px;

    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

  .contact__address-city {
    display: block;

    margin-top: 18px;
  }
}

@media (min-width: 1300px) {
  .contact {
    min-height: 0;
  }

  .contact__image {
    margin: 0;
  }

  .contact__iframe {
    top: 0;
  }

  .contact__top-block {
    position: absolute;

    width: 420px;

    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 60px;

    top: 95px;
    left: 40px;

    &--grey {
      background-color: #ffffff;
    }
  }

  .contact__address {
    margin-left: 90px;

    text-align: left;
    line-height: 20px;
  }

  .contact__address-city {
    display: block;

    margin-top: 16px;
  }
}
