.contact {
  position: relative;

  min-height: 200px;
}

/* привет */

.contact__top-block {
  position: absolute;

  display: flex;

  width: 320px;

  padding-top: 27px;
  padding-bottom: 27px;

  background-color: white;
}

.contact--catalog-form {
  background-color: #f2f2f2;
}

.contact__title {
  margin-left: 20px;

  color: #111111;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
}

.contact__address {
  margin-left: 14px;

  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}

.contact__image {
  margin-top: 74px;
}

@media (min-width: 768px) {
  .contact {
    min-height: 600px;
  }

  .contact__top-block {
    position: relative;

    width: auto;

    padding: 65px 70px;
  }

  .contact__title {
    width: 160px;

    margin-left: 0;

    font-size: 20px;
    line-height: 25px;
  }

  .contact__image {
    margin: 0;

    width: 100%;
    height: 400px;
  }

  .contact__address {
    width: 160px;

    text-align: right;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 1440px) {
  .contact {
    min-height: 0;
  }

  .contact__top-block {
    position: absolute;

    width: 420px;

    padding-left: 75px;

    top: 100px;
    left: 110px;
  }

  .contact__address {
    margin-left: 90px;

    text-align: left;
  }
}
