.container {
  position: relative;

  width: 320px;

  margin: 0 auto;

  &--map {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;

    &--map {
      width: 100%;
    }
  }
}

@media (min-width: 1300px) {
  .container {
    width: 1300px;

    &--map {
      width: 100%;
    }
  }
}
