.contact {
  min-height: 430px;

  outline: 2px solid crimson;
}

.contact__top-block {
  display: flex;

  padding-top: 27px;
  padding-bottom: 27px;
}

.contact--catalog-form {
  background-color: #f2f2f2;
}

.contact__title {
  width: 140px;

  color: #111111;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
}

.contact__address {
  width: 140px;

  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}

.contact__image {
}

@media (min-width: 768px) {
  .contact {
    min-height: 600px;

    outline: 2px solid crimson;
  }

  .contact__top-block {
    display: flex;
    justify-content: space-between;

    padding-top: 60px;
    padding-bottom: 60px;
  }

  .contact--catalog-form {
    background-color: #f2f2f2;
  }

  .contact__title {
    width: 160px;

    color: #111111;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    font-weight: 400;
  }

  .contact__address {
    width: 160px;

    color: #444444;
    font-family: "Arial", sans-serif;
    text-align: right;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
  }

  .contact__image {
  }

}
