.example {
  background-color: #f2f2f2;
  min-height: 650px;
  padding: 0;
  padding-top: 18px;
  padding-bottom: 37px;
}

.example__title {
  margin-bottom: 23px;
  margin-left: 20px;

  color: #111111;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.example__description {
  padding: 0;

  margin: 0;
  margin-bottom: 24px;
  margin-left: 20px;
  margin-right: 30px;


  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.example__list {
  display: flex;

  padding: 0 20px;
}

.example__item {
  position: relative;

  width: 85px;

  padding: 13px 18px;
  padding-bottom: 18px;

  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  border: 1px solid #cdcdcd;
  border-radius: 5px;
}

.example__item-low {
  position: absolute;

  display: block;

  bottom: -15px;
  left: 20px;

  width: 80px;

  font-family: "Arial", sans-serif;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;

  background-color: #f2f2f2;
}

.example__price {
  margin-top: 34px;
  margin-bottom: 35px;

  text-align: center;

  color: #111111;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.example__scale {
  text-align: center;
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.example__image {
  margin-left: auto;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .example {
    padding: 0;

    background-color: #ffffff;
    min-height: 0;
  }

  .example__title {
    margin-bottom: 64px;
    margin-left: 30px;

    font-size: 60px;
  }

  .example__image {
    margin-top: 85px;
    margin-left: 45px;

    width: 690px;
    height: 517px;
  }

  .example__image-area {
    padding-bottom: 65px;
  }

  .example__description {
    margin-left: 30px;
    margin-right: 50px;
    margin-bottom: 50px;

    font-size: 16px;
    line-height: 24px;
  }

  .example__list-price-wrapper {
    display: flex;
    align-items: center;
  }

  .example__list {
    width: 420px;

    padding: 0 30px;
  }

  .example__item {
    width: 162px;

    margin-right: 40px;

    padding: 15px 0;
    padding-bottom: 20px;

    font-size: 30px;
    line-height: 37px;
  }

  .example__item-low {
    bottom: -6px;
    left: 12px;

    width: 135px;

    font-size: 14px;
    line-height: 14px;

    background-color: #ffffff;
  }

  .example__price {
    width: 180px;

    margin: 0;
    margin-left: 75px;

    color: #111111;
    text-align: right;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
  }
}

@media (min-width: 1440px) {
  .example {
    display: flex;

    min-height: 625px;
  }

  .example .container {
    display: flex;
  }

  .example__text {
    width: 680px;

    margin-top: 70px;
  }

  .example__image {
    margin-left: 5px;
    margin-top: 15px;
    margin-bottom: 40px;
  }

  .example__image-area {
    width: 680px;
  }

  .example__scale {
    position: relative;
  }

  .example__scale-was,
  .example__scale-will {
    position: absolute;
  }

  .example__scale-was {
    top: 0;
    left: 80px;

    font-size: 20px;
  }

  .example__scale-will {
    top: 0;
    right: 30px;

    font-size: 20px;
  }

  .example__scale-line {
    position: absolute;

    top: 7px;
    left: 150px;

    width: 428px;
    height: 6px;

    background-color: #dcdcdc;
    border-radius: 3px;
  }

  .example__scale-button {
    position: absolute;

    top: -14px;
    left: 198px;

    width: 32px;
    height: 32px;

    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);

    &::before {
      content: "";

      position: absolute;

      top: 12px;
      left: 12px;

      width: 8px;
      height: 8px;

      border-radius: 50%;
      background-color: #68b738;
    }
  }

  .example__title {
    margin-bottom: 148px;
    margin-left: 110px;
  }

  .example__description {
    width: 435px;

    margin-left: 110px;
    margin-bottom: 66px;
  }

  .example__list-price-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .example__list {
    padding: 0 110px;

    margin-bottom: 55px;
  }

  .example__price {
    width: 350px;

    margin-left: 88px;
  }

  .example__price-number {
    margin-left: 59px;
  }
}
