.intro__title {
  padding: 15px 0;

  margin-left: 20px;
  margin-bottom: 12px;

  font-size: 36px;
  line-height: 60px;
  color: #111111;
  font-weight: 400;
}

.intro__description {
  width: 230px;

  margin-left: 20px;

  font-size: 14px;
  line-height: 18px;
  color: #111111;
  text-transform: uppercase;
  font-weight: 400;
}

@media (min-width: 768px) {
  .intro {
    margin-bottom: 30px;
  }

  .intro__title {
    padding: 42px 0;

    margin-left: 30px;

    font-size: 60px;
  }

  .intro__description {
    width: 330px;

    margin-left: 70px;
    margin-bottom: 30px;

    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: 1440px) {
  .intro {
    margin-bottom: 18px;
  }

  .intro__description {
    margin: 0;
    margin-left: 110px;
  }

  .intro__title {
    padding: 56px 0;

    margin-left: 110px;
    margin-bottom: 0;
  }
}
