.main-nav {
  display: none;
  width: 100%;
  min-height: 198px;
}

.site-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.site-nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 65px;
}

.site-nav__link {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #111111;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .main-nav {
    display: flex;
    align-items: center;

    width: 450px;
    min-height: 65px;
  }

  .site-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 450px;
  }

  .site-nav__link {
    font-size: 16px;
  }

  .site-nav__item {
    width: auto;
  }

  .main-nav__toggle {
    display: none;
  }
}
