.main-nav {
  display: none;
  width: 100%;
  min-height: 198px;
}

.site-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.site-nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 65px;
}

.site-nav__link {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #111111;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .main-nav {
    display: flex;

    width: 440px;
    min-height: 65px;

    margin-right: 30px;
    margin-top: 22px;
  }

  .site-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    width: 440px;
  }

  .site-nav__link {
    display: block;

    padding: 10px 0;

    font-size: 16px;

    &--active {
      border-bottom: 2px solid #68b738;
    }
  }

  .site-nav__item {
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: 1440px) {
  .main-nav {
    margin-top: 54px;
    margin-left: 445px;
  }

  .site-nav__link {
    line-height: 25px;
  }
}
