.order__item {
  display: flex;
  align-items: center;

  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
}

.order__fieldset {
  padding: 0 20px;
}

.order__fieldset--comment .order__title {
  padding: 16px 0;
  padding-bottom: 34px;
}

.order__fieldset--radio {
  padding-top: 27px;
  padding-bottom: 1px;

  border: 1px solid #ededed;
}

.order__fieldset--radio .order__item {
  margin-bottom: 25px;
}

.order__fieldset--name {
  padding-top: 20px;
  padding-bottom: 20px;
}

.order__fieldset--name .order__item {
  margin-top: 15px;
}

.order__fieldset--contact .order__title {
  padding: 26px 0;
  padding-bottom: 33px;
}

.order__fieldset--contact .order__item {
  margin-bottom: 13px;
}

.order__fieldset--additional .order__title {
  padding: 26px 0;
  padding-bottom: 41px;
}

.order__fieldset--additional .order__item {
  margin-bottom: 24px;
}

.order__title {
  font-size: 24px;
  line-height: 24px;
  color: #111111;
}

.order__submit {
  margin-bottom: 31px;
}

.order__submit-button {
  width: 280px;

  margin: 0 auto;
  margin-top: 20px;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #68b738;
  border: none;

  font-family: inherit;
}

.order__must-info {
  margin-top: 23px;

  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

.order__name-label,
.order__email-label,
.order__tel-label {
  order: 1;

  margin-right: 14px;
}

.order__name,
.order__email,
.order__tel {
  padding: 12px 12px;
  order: 2;

  flex-grow: 1;
}

.order__radio-fieldset {
  padding: 20px;
  padding-bottom: 0;

  border-bottom: 1px solid #ededed;
  border-top: 1px solid #ededed;
}

.order__radio-fieldset .order__item {
  margin-bottom: 25px;
  margin-top: 6px;
}

.order__radio-label {
  margin-left: 10px;
}

.order__comment {
  box-sizing: border-box;

  width: 100%;
  height: 150px;

  padding: 13px;

  resize: none;
}

.order__checkbox-label {
  margin-left: 33px;
}

@media (min-width: 768px) {
  .order__submit {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 0;

    padding-bottom: 73px;

    align-items: center;
  }

  .order__fieldset {
    padding: 0 70px;
  }

  .order__fieldset--name {
    padding-top: 22px;
  }

  .order__fieldset--radio {
    padding-top: 54px;
    padding-right: 66px;
    padding-bottom: 49px;

    border: none;
  }

  .order__fieldset--radio .order__list {
    padding-top: 14px;
    padding-bottom: 4px;

    border: 1px solid #ededed;
  }

  .order__fieldset--radio .order__item {
    margin-bottom: 32px;
  }

  .order__fieldset--contact .order__title {
    padding-bottom: 75px;
  }

  .order__fieldset--contact .order__item {
    margin: 0;
    margin-bottom: 22px;
  }

  .order__fieldset--comment .order__title {
    padding-top: 44px;
    padding-bottom: 76px;
  }

  .order__comment {
    height: 175px;

    padding: 13px;
    padding-left: 18px;

    font-size: 20px;
  }

  .order__fieldset--additional {
    margin-bottom: 14px;
  }

  .order__fieldset--additional .order__title {
    padding-top: 62px;
    padding-bottom: 46px;
  }

  .order__fieldset--additional .order__item {
    margin-bottom: 32px;
  }

  .order__item {
    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 20px;
    line-height: 20px;
  }

  .order__title {
    font-size: 36px;
    line-height: 36px;
  }

  .order__name-label,
  .order__email-label,
  .order__tel-label {
    margin-right: 20px;
  }

  .order__radio-fieldset {
    padding: 15px 30px;

    border: 1px solid #ededed;
  }

  .order__list--additional {
    display: flex;
    flex-wrap: wrap;
  }

  .order__list--additional .order__item {
    width: 300px;
  }

  .order__radio-label {
    margin-left: 20px;
  }

  .order__submit-button {
    width: 284px;

    margin-left: 70px;
    margin-right: 21px;

    padding: 14px;

    font-size: 20px;
  }

  .order__must-info {
    width: 200px;

    margin-left: 30px;

    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: 1440px) {
  .order {
    min-height: 1200px;
  }

  .order__form {
    display: flex;
    flex-wrap: wrap;
  }

  .order__item {
    display: flex;
    align-items: center;

    width: 570px;
  }

  .order__submit-button {
    width: 570px;

    padding: 15px 0;

    margin-top: 25px;
    margin-left: 110px;
    margin-right: 0;

    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #68b738;
    font-family: inherit;

    border: none;
  }

  .order__name-label,
  .order__email-label,
  .order__tel-label {
    margin-right: 18px;
  }

  .order__name,
  .order__email,
  .order__tel {
    border: 1px solid #e6e6e6;
  }

  .order__fieldset--contact .order__list {
    width: 100%;

    display: flex;
  }

  .order__comment {
    width: 1220px;

    border: 1px solid #e6e6e6;
  }

  .order__fieldset--radio {
    padding: 0;
    padding-top: 27px;

    margin-left: 50px;
    margin-top: 20px;
  }

  .order__fieldset--radio .order__list {
    padding: 0 30px;
  }

  .order__fieldset--radio .order__item {
    width: 508px;

    margin-top: 33px;
    margin-left: 22px;
  }

  .order__fieldset--name {
    padding-right: 30px;
    padding-left: 110px;
    padding-top: 33px;
  }

  .order__fieldset--contact {
    padding: 0 110px;
  }

  .order__fieldset--contact .order__title {
    padding-top: 57px;
  }

  .order__fieldset--contact .order__item {
    margin-right: 78px;
  }

  .order__list--additional .order__item {
    width: 245px;
  }

  .order__fieldset--comment {
    padding: 0 110px;
  }

  .order__fieldset--comment .order__title {
    padding-top: 48px;
  }

  .order__fieldset--additional {
    padding: 0 110px;
  }

  .order__fieldset--additional .order__list {
    justify-content: flex-start;
  }

  .order__fieldset--additional .order__title {
    padding-top: 65px;
  }

  .order__fieldset--additional .order__item {
    margin-right: 80px;

    &:last-child {
      margin-right: 0;
    }
  }

  .order__checkbox-label {
    margin-left: 46px;
  }

  .order__must-info {
    margin-left: 71px;
  }
}
