.order {
  min-height: 1200px;

  padding: 0;
  outline: 2px solid violet;
}

.order__item {
  display: flex;
  align-items: center;

  margin-top: 15px;
  margin-bottom: 15px;

  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
}

.order__title {
  font-size: 24px;
  line-height: 24px;
  color: #111111;
}

.order__submit-button {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #68b738;
  border: none;

  font: inherit;
}

.order__must-info {
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

.order__name-label,
.order__email-label,
.order__tel-label {
  order: 1;

  margin-right: 14px;
}

.order__name,
.order__email,
.order__tel {
  padding: 12px 12px;
  order: 2;

  flex-grow: 1;
}

.order__radio-fieldset {
  border-bottom: 1px solid #ededed;
  border-top: 1px solid #ededed;
}

.order__radio-label {
  margin-left: 10px;
}

.order__title {
  padding-top: 25px;
  padding-bottom: 35px;
}

.order__comment {
  box-sizing: border-box;

  width: 100%;
  height: 150px;

  padding: 13px;

  resize: none;
}

.order__checkbox-label {
  margin-left: 33px;
}

.order__submit-button {
  margin-top: 20px;
}

.order__must-info {
  margin-top: 23px;

  text-align: center;
  font-family: "Arial", sans-serif;
}
