.page-header {
  width: 320px;
  margin: auto;

  min-height: 65px;

  outline: 2px solid dodgerblue;
}

.page-header__logo-image {
  margin-top: 9px;
}

@media (min-width: 768px) {
  .page-header {
    width: 708px;
    padding: 0 30px;

    display: flex;
  }
}

@media (min-width: 1440px) {
  .page-header {
    width: 1440px;
  }
}
