.page-main {
  width: 320px;
  margin: auto;
}


@media (min-width: 768px) {
  .page-main {
    width: 708px;
    padding: 0 30px;
  }
}

@media (min-width: 1440px) {
  .page-main {
    width: 1440px;
  }
}
