.page-footer {
  width: 100%;

  margin-top: -2px;

  background-color: #f2f2f2;
}

.page-footer .container {
  display: flex;
  flex-direction: column;
}

.page-footer__logo-footer {
  padding: 34px 76px;
  padding-top: 38px;
  padding-bottom: 32px;

  margin-left: 20px;
  margin-right: 20px;

  border-bottom: 1px solid #d9d9d9;
}

.page-footer__academy {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 20px;
  padding-right: 13px;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
}

.page-footer__academy-link {
  color: #444444;
  font-size: 16px;
  line-height: 16px;
}

@media (min-width: 768px) {
  .page-footer {
    min-height: 0;
  }

  .page-footer .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .page-footer__logo-footer {
    width: 150px;

    margin-left: 22px;

    padding: 33px 0;
    border-bottom: 0;
  }

  .page-footer__social {
    margin-left: 75px;
    margin-right: 75px;
  }

  .page-footer__academy {
    justify-content: flex-start;

    width: 180px;

    margin-right: 12px;

    &-name {
      margin-right: 14px;
    }
  }
}

@media (min-width: 1440px) {
  .page-footer {
    padding: 52px 0;
  }
  .page-footer__logo-footer {
    margin-left: 100px;

    padding: 0;
  }

  .page-footer__academy {
    margin-right: 90px;

    padding: 0;
  }
}
