.page-footer {
  background-color: #f2f2f2;
  width: 280px;
  min-height: 176px;

  padding: 0 20px;
  padding-top: 40px;
  padding-bottom: 20px;
  outline: 2px solid brown;
}

.page-footer__academy-link {
  color: #444444;
  font-size: 16px;
  line-height: 16px;
}
