.page-header {
  width: 100%;

  min-height: 65px;
}

.page-header__logo-image {
  margin-top: 9px;
}

@media (min-width: 768px) {
  .page-header .container {
    display: flex;
    justify-content: space-between;
  }

  .page-header__logo-image {
    width: 173px;
    height: 58px;
  }
}

@media (min-width: 1440px) {
  .page-header__logo-image {
    width: 202px;
    height: 60px;
  }
}
