.site-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.site-nav__item {
  width: 320px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 23px 0;

  border-bottom: 1px solid #e6e6e6;
}

.site-nav__link {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .site-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    width: 440px;
  }

  .site-nav__link {
    position: relative;

    display: block;

    padding: 10px 0;

    font-size: 18px;

    &--active::before {
      content: "";

      position: absolute;

      top: 40px;
      left: 0;

      width: 100%;
      height: 2px;

      background-color: #68b738;
    }
  }

  .site-nav__item {
    width: auto;

    margin-right: 35px;

    padding: 12px 0;

    border-bottom: none;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (min-width: 1300px) {
  .site-nav {
    width: 520px;
  }

  .site-nav__item {
    margin-right: 35px;

    padding: 10px 0;
  }

  .site-nav__link {
    font-size: 20px;
    line-height: 25px;

    &--active::before {
      top: 42px;

      background-color: #68b738;
    }
  }
}
