.social {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px 0;

  margin: 0 20px;

  border-bottom: 1px solid #d9d9d9;
}

.social__item {
  margin: 0 20px;
}

@media (min-width: 768px) {
  .social {
    width: auto;

    padding: 0;

    margin: 0 auto;

    border-bottom: 0;
  }

  .social__item {
    margin: 0 15px;
  }

  .social__logo--fb {
    width: 14px;
    height: 28px;
  }

  .social__logo--vk {
    width: 30px;
    height: 16px;
  }

  .social__logo--insta {
    width: 23px;
    height: 23px;
  }
}

@media (min-width: 1300px) {
  .social {
    padding: 0;
  }
}
