.top-bar {
  position: relative;

  min-height: 440px;

  padding: 0;
}

.top-bar__title {
  position: relative;

  margin-top: 25px;

  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  font-weight: 400;


  &::before {
    content: "";

    position: absolute;
    z-index: -1;

    width: 320px;
    height: 305px;

    top: -25px;
    right: 0;

    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.top-bar__description {
  margin-top: 27px;

  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.top-bar__image {
  margin-top: 30px;
  margin-left: 20px;
}

.top-bar__link {
  width: auto;

  margin-bottom: 24px;
  margin-left: 20px;
  margin-right: 20px;

  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background-color: #68b738;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .top-bar {
    min-height: 850px;

    display: flex;
    flex-direction: column;
  }

  .top-bar__link {
    width: 245px;

    padding: 16px 0;

    margin-top: 48px;
    margin-left: 120px;

    font-size: 20px;
    line-height: 20px;
  }

  .top-bar__title {
    width: 427px;

    margin-left: 117px;
    margin-top: 40px;

    color: #000000;
    font-size: 60px;
    line-height: 60px;
    text-align: left;

    z-index: 1;

    &::before {
      display: none;
    }
  }

  .top-bar__description {
    width: 427px;

    margin-left: 117px;
    margin-top: 42px;

    color: #000000;
    font-size: 20px;
    line-height: 20px;
    text-align: left;

    z-index: 1;
  }

  .top-bar__image {
    position: absolute;
    margin-top: 20px;
    margin-left: 30px;

    width: 709px;
    height: 609px;

    z-index: -1;
  }
}

@media (min-width: 1300px) {
  .top-bar {
    min-height: 0;

    margin-bottom: 170px;

    display: flex;
    flex-direction: column;

    &::before {
      display: none;
    }
  }

  .top-bar__link {
    width: 245px;
    min-height: 0;

    position: relative;

    margin-top: 50px;
    margin-left: 120px;

    font-size: 20px;
    line-height: 20px;
  }

  .top-bar__title {
    width: 427px;

    margin-left: 120px;
    margin-top: 90px;

    color: #000000;
    font-size: 60px;
    line-height: 60px;
    text-align: left;

    z-index: 1;
  }

  .top-bar__description {
    width: 427px;

    margin-left: 120px;

    color: #000000;
    font-size: 20px;
    line-height: 20px;
    text-align: left;

    z-index: 1;
  }

  .top-bar__image {
    position: absolute;

    width: 552px;
    height: 499px;

    left: 460px;
    top: -10px;

    z-index: -1;
  }
}
