.top-bar {
  position: relative;

  min-height: 440px;

  padding: 0;
  padding-top: 25px;

  outline: 2px solid blue;

  &::before {
    content: "";

    position: absolute;
    z-index: -1;

    width: 320px;
    height: 305px;

    top: 0;
    right: 0;

    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.top-bar__title {
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  font-weight: 400;
}

.top-bar__description {
  margin-top: 25px;

  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.top-bar__image {
  margin-top: 30px;
}

.top-bar__link {
  margin-top: 1px;
  margin-bottom: 24px;

  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background-color: #68b738;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .top-bar {
    min-height: 850px;

    display: flex;
    flex-direction: column;

    &::before {
      display: none;
    }
  }

  .top-bar__link {
    position: relative;
    margin-top: -150px;
  }

  .top-bar__title {
    width: 427px;

    margin-left: 90px;

    color: #000000;
    font-size: 60px;
    line-height: 60px;
    text-align: left;

    z-index: 1;
  }

  .top-bar__description {
    width: 427px;

    margin-left: 90px;

    color: #000000;
    font-size: 20px;
    line-height: 20px;
    text-align: left;

    z-index: 1;
  }

  .top-bar__image {
    position: relative;
    margin-top: -50px;

    z-index: -1;
  }
}
